name: ci
on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - main
env:
  CACHE_NODE_MODULES_PATH: |
    node_modules
    ~/.cache/puppeteer/chrome

jobs:
  prepare:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: lts/*
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Get lockfile hash
        id: lockfile_hash
        run: echo "hash=${{ hashFiles('**/yarn.lock') }}" >> $GITHUB_OUTPUT

      - name: Check cached node_modules
        id: check_cache
        uses: actions/cache@v3
        with:
          path: ${{ env.CACHE_NODE_MODULES_PATH }}
          key: ${{ steps.lockfile_hash.outputs.hash }}

      - name: Install dependencies
        if: steps.check_cache.outputs.cache-hit == ''
        run: yarn install --frozen-lockfile

      - name: Install chromium
        run: yarn install:chrome
    outputs:
      cache_node_modules_key: ${{ steps.lockfile_hash.outputs.hash }}

  run-lint:
    needs: prepare
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: lts/*
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Check cached node_modules
        uses: actions/cache@v3
        with:
          path: ${{ env.CACHE_NODE_MODULES_PATH }}
          key: ${{ needs.prepare.outputs.cache_node_modules_key }}

      - name: Run lint
        run: yarn lint

  run-build:
    needs: prepare
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: lts/*
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Check cached node_modules
        uses: actions/cache@v3
        with:
          path: ${{ env.CACHE_NODE_MODULES_PATH }}
          key: ${{ needs.prepare.outputs.cache_node_modules_key }}

      - name: Run build
        run: yarn build

  run-test:
    needs: prepare
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: lts/*
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Check cached node_modules
        uses: actions/cache@v3
        with:
          path: ${{ env.CACHE_NODE_MODULES_PATH }}
          key: ${{ needs.prepare.outputs.cache_node_modules_key }}

      - name: Run test
        env:
          LOTTO_ID: ${{ secrets.lotto_id }}
          LOTTO_PWD: ${{ secrets.lotto_pwd }}
          LOTTO_COOKIE: ${{ secrets.lotto_cookie }}
        run: yarn test --collect-coverage

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          verbose: true
